@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body,
html {
    padding: 0;
    margin: 0;

    text-align: center;

    background-color: #000000;
    scroll-behavior: smooth;


    width: 100%;

}

.top-section {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;


}

.bottom-section {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.link {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    /* border: solid 3px #ffffff;

    border-image: linear-gradient(#ffffff, #c5c5c5) 20; */
    padding: .5rem;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    color: #ffffff;
    

}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

}

.icon-container img {
    width: 5rem;
    height: auto;
    filter: invert();
}

.js-ico {
    filter: invert(0) !important;
    background-color: #ffffff;
}

#root {
    padding: 0;
    margin: 0;

}

.navigation-container ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
    list-style: none;

}

nav {
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    padding-top: 1rem;
    margin-top: -1rem;
    position: sticky;
    top: 0rem;
    /* background-color: #161618; */
    padding-bottom: 1rem;
    z-index: 2;
}


/* Card styling */
.project-container {
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
    justify-content: center;
    border-radius: 10px;

    flex-wrap: wrap;
    padding: 1rem;

    /* background-color: #212124;
    -webkit-box-shadow:0px 0px 93px 0px rgba(38,38,38,1);
    -moz-box-shadow: 0px 0px 93px 0px rgba(38,38,38,1);
    box-shadow: 0px 0px 93px 0px rgba(38,38,38,1);
     */

}

.card-info {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 0rem 0rem 2rem;
    border-radius: 1rem;
    margin: 1rem 0rem;


}

.card-img {
    display: inline-block;
    border: 3px solid white;
}

.card img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    transition: .3s;
    filter: brightness(95%);






}

@media (max-width: 814px) {
    .card img {
        max-width: 20rem;
    }
}

/* parallax  */

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: white;
    transform-origin: 0%;
    z-index: 3;


    -webkit-box-shadow:0px 0px 93px 1px rgba(255,255,255,0.3);
    -moz-box-shadow: 0px 0px 93px 1px rgba(255,255,255,0.3);
    box-shadow: 0px 0px 93px 1px rgba(255,255,255,0.3);
    
}

/* blog */

.blogpost-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0rem 2rem;

}

.title-card {
    background-color: #161618;
    margin: 5rem -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
}

.title-card h1 {
    align-self: center;
    text-align: center !important;
}

.content-card {
    background-color: #121212;

    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    max-width: 700px;

}

.content-card p {

    font-size: 1.25rem;
    font-weight: 400;
    padding: 2rem;
    filter: opacity(87%);
    text-align: left;
}

@media (max-width: 600px) {
    .content-card {
        padding: 0;
        transition: .3s;
    }

    .content-card p {
        padding: 1rem;
        transition: .3s;
    }

    .title-card {
        padding: 0;
        transition: .3s;
    }
}

body,
html {
    scroll-snap-type: none;
}

section {
    scroll-snap-align: start;
}

footer {
    scroll-snap-align: start;
    padding-top: 2rem;
}

.card {
    scroll-snap-align: center;
}

a {

    background: transparent;

}

i {
    font-size: 5rem;
}

.inverted {
    filter: invert(100);
}

.blog-posts-container a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-align: left;
    background-color: #0505a2;
    padding: 1rem;


}

.blog-posts-container ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.blog-posts-container li {
    padding: 1rem;
    transition: .3s;
}

.blog-posts-container li:hover {
    transform: scale(115%);
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.card-info .box {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 814px) {
    .blog-posts-container ul {

        text-align: center;
        transition: .3s;
    }
}

.blog-text {
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    font-size: 1rem;
    padding: none;
    color: #ffffff;
    opacity: 87%;
    max-width: 100%;
    overflow-x: hidden;
    white-space: break-spaces;
    word-wrap: break-word;

}